<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="M_Adnan">
<title>主页</title>

<!-- Bootstrap Core CSS -->
<link href="__PUBLIC__/Css/bootstrap.min.css" rel="stylesheet">

<!-- Custom CSS -->
<link href="__PUBLIC__/Css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="__PUBLIC__/Css/ionicons.min.css" rel="stylesheet">
<link href="__PUBLIC__/Css/main.css" rel="stylesheet">
<link href="__PUBLIC__/Css/style01.css" rel="stylesheet">
<link href="__PUBLIC__/Css/responsive.css" rel="stylesheet">

<!-- JavaScripts -->
<script src="__PUBLIC__/js/modernizr.js"></script>

<!-- Online Fonts -->
<link href="https://fonts.googleapis.com/css?family=Dosis|Libre+Baskerville|Open+Sans" rel="stylesheet">

</head>
<body>


  
  <!-- header -->
  <header>
    <div class="sticky">
      <div class="container"> 
        
        <!-- Logo -->
        <div class="logo"> <a href="index.html"><img class="img-responsive" src="__PUBLIC__/Images/logo.png" alt="" ></a> </div>
        <!-- Navigation -->
        <nav class="navbar"> 
          <!-- NAV -->
          <ul class="nav ownmenu">
            <li class="active"> <a href="index.html"> 主页 </a></li>
            <li> <a href="{:U('Admini/inquire')}"> 查询订票 </a></li>
            <li> <a href="{:U('Admini/chserial')}">添加车次 </a>
            <li> <a href="{:U('Admini/chticket')}"> 添加车票 </a></li>
            <li> <a href="{:U('Public/logout')}"> 退出 </a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
  <center>
  <div id="require">
    <form action="" method="post">
      请输入您要查询的列车号:<input type="text" name="serialnumber" id="serialnumber"><br>
      <input type="submit" value="提交">
      <input type="reset" value="重置"/>
    </form>
    <hr>
    <table border="1px">
      <tr>
        <th>
          列车号
        </th>
        <th>
          始发站
        </th>
        <th>
          终点站
        </th>
        <th>
          始发时间
        </th>
        <th>
          剩余票数
        </th>
        <th>
          总票数
        </th>
      </tr>
      <volist name='serial' id='vo'>
        <tr>
          <th>
            {$vo.serialnumber}
          </th>
          <th>
            {$vo.departurepoint}
          </th>
          <th>
            {$vo.terminalpoint}
          </th>
          <th>
            {$vo.setout}
          </th>
          <th>
            {$vo.renumber}
          </th>
          <th>
            {$vo.total}
          </th>
        </tr>
      </volist>
    </table>
  </div>
  </center>
      <div class="container"> 
      
  <div class="rights">
    <p>Copyright &copy; 2017.长春工程学院软件1541</p>
  </div>
</div>
<script src="__PUBLIC__/js/jquery.min.js"></script> 
<script src="__PUBLIC__/js/bootstrap.min.js"></script> 
<script src="__PUBLIC__/js/own-menu.js"></script> 
<script src="__PUBLIC__/js/owl.carousel.min.js"></script> 
<script src="__PUBLIC__/js/main.js"></script> 

<!-- Begin Map Script
<script src="http://ditu.google.cn/maps/api/js?v=3.exp"></script> 
<script src="js/map.js"></script>-->
</body>
</html>
